name: flutter_pdfview
description: A Flutter plugin that provides a PDFView widget on Android and iOS.
version: 1.0.0+9
author: endigo <endigo.18@gmail.com>
homepage: https://github.com/endigo/flutter_pdfview

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    androidPackage: io.endigo.plugins.pdfviewflutter
    iosPrefix: FLT
    pluginClass: PDFViewFlutterPlugin
